{% extends './base.html.twig' %}

{% block body %}
transactions

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">type</th>
                        <th scope="col">amount</th>
                        <th scope="col">wallet-ID</th>
                        <th scope="col">created</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}

                        <tr>
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>
                            {% if transaction.wallet %}
                                {{ transaction.wallet.id }}
                            {% else %}
                                <span>platform</span>
                            {% endif %}
                        </td>
                        <td>{{ transaction.createdAt|date('d-m-Y h:m:s') }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}