{% extends 'base.html.twig' %}

{% block body %}
    <div class="container indexContainer">
        <div class="row">
            <div class="col d-flex justify-content-center mt-2">
                <span class="h2 title">Check out our fresh <span class="text-danger">R</span>-tickles</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

            {% for article in articles %}

                {% set isFav = 0 %}
                {% for fav in favArticles %}
                    {% if fav.article.id == article.id %}
                        {% if fav.user.id == app.user.id %}
                            {% set isFav = isFav + 1 %}
                        {% else %}
                            {% set isFav = isFav + 0 %}
                        {% endif %}
                    {% else %}
                        {% set isFav = isFav + 0 %}
                    {% endif %}
                {% endfor %}

            <div class="card mx-2 my-3" style="width: 20rem;">
                {% if article.isPaid == 0 %}
                    <div class="priceTag priceTagFree d-flex justify-content-center">
                        <span class="free text-middle text-dark">FREE</span>
                    </div>
                {% else %}
                    <div class="priceTag priceTagPaid d-flex justify-content-center">
                        <span class="free text-middle text-dark">PAID</span>
                    </div>
                {% endif %}

                {% if article.image %}
                <img src="{{ asset('uploads/photos/') }}{{ article.image }}" alt="img missing" class="card-img-top image">
                {% else %}
                <img src="{{ asset('uploads/photos/no-image.png') }}" alt="No image" class="card-img-top image" style="filter: invert(70%)">
                {% endif %}
                    <div class="favIcon">
                        {% if isFav == 0 %}
                            <a href="{{ path('app_add_fav', {id: article.id}) }}">
                                <i class="fa-solid fa-heart fav-off" style="font-size: 1.8rem; color: black "></i>
                            </a>
                        {% else %}
                            <a href="{{ path('app_add_fav', {id: article.id}) }}">
                                <i class="fa-solid fa-heart fav-on" style="font-size: 1.8rem; color: red"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-body mx-auto pt-0 text-center w-100">
                        <div class="row pt-2 pb-2">

                            {% if article.category %}
                            <div class="col-3">
                                <div class="category" style="background-color: {{ article.category.color }} ">
                                    {{ article.category.name }}
                                </div>
                            </div>
                            {% else %}
                                <div class="col-3">
                                    <div class="category cat-none">
                                        None
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-3"> </div>

                            <div class="col-6">
                                <div class="publisher text-muted">
                                    <p class="mx-0 my-0">
                                        Publisher: {{ article.publishedBy.lastName }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title my-2">
                            {{ article.title }}
                        </h5>
                        <hr>
                        <span>
                            {% if article.isPaid == 1 %}
                                {% set counter = 0 %}

                                {% for paidArticle in userPaidArticles %}
                                    {% if article.id in paidArticle %}
                                        {%  set counter = counter + 1 %}
                                    {% endif %}
                                {% endfor %}

                                    {% if counter == 0 %}
                                        <div class="locked">
                                            <a href="{{ path('app_article_buy', {id: article.id}) }}" class="btn read-more text-light mt-5 fs-5">
                                                <i class="fa-solid fa-lock-open" style="font-size: 20px"></i>
                                                - Unlock this R-tickle
                                            </a>
                                        </div>
                                    {% endif %}
                            {% endif %}
                            <p class="card-text text-center">
                                 {{ article.text|length > 160 ? article.text|slice(0, 160) ~ '...' : article.text }}
                            </p>
                            <a href="{{ path('app_article_view', {id: article.id}) }}" class="btn read-more text-light w-50">Read more</a>
                        </span>
                        {% if app.user %}
                            {% if "ROLE_ADMIN" in app.user.roles %}
                                <hr>
                                    <span> ID: {{ article.id }} </span> <br>
                                    {% if article.isPaid == 1 %}
                                        <span>isPaid: Yes</span> <br>
                                    {% elseif article.isPaid == 0 %}
                                        <span>isPaid: No</span> <br>
                                    {% endif %}
                                    <span> price: {{ article.price }} </span> <br>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .card{
            background-color: #eaeaea;
            border-radius: 15px 15px 5px 5px;
            box-shadow: #6b6b6b 0 2px 7px 0;
            min-height: 450px;
        }

        .container .row{
            --bs-gutter-x: 0;
        }

        .image{
           height: 200px;
           background-size: cover;
           border-radius: 15px 15px 2px 2px;
        }

        .locked{
            margin-left: -16px;
            width: 100%;
            height: 180px;
            position: absolute;
            backdrop-filter: blur(3px);
        }

        .read-more{
            background: rgb(17,18,20);
            background: linear-gradient(180deg, rgb(28, 29, 35) 0%, rgba(52,58,64,1) 100%);
        }

        .category{
            border-radius: 13px;
            color: white;
        }

        .cat-none{
            background-color: #b06767;
        }

        .priceTag{
            position: absolute;
            width: 80px;
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
            z-index: 1;
            font-size: 14px;
        }

        .priceTagFree{
            background-color: #55a900;
        }

        .priceTagPaid{
            background-color: #ff6e4d;
        }

        .title{
            text-shadow: #707070 0 0 2px;
        }

        .favIcon{
            position: absolute;
            right: 15px;
            top: 10px;
        }

        .fav-off{
            text-shadow: white 0 0 3px,
                         white 0 0 3px;
        }

        .fav-on{
            text-shadow: black 0 0 4px,
                         black 0 0 4px;
        }
    </style>
{% endblock %}