{% extends 'base.html.twig' %}

{% block title %} Article page {% endblock %}

{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-2">
                <div class="row">
                    <div class="col mt-3">
                        {% if app.user %}
                            {% if "ROLE_USER" in app.user.roles %}
                                <div class="info-container p-2 text-light text-center position-fixed">
                                    <div class="info">
                                        <p class="m-0 p-0 text-info">Article info</p>
                                        <hr class="pt-0 mt-0 mb-3 w-50 mx-auto">
                                        <span>Viewed <span class="text-warning"> {{ article.views }} </span>times</span> <br>
                                        <span> Liked <span class="text-warning"> {{ nrFav[0][1] }} </span>  times</span> <br>
                                        <span>Publisher: <span class="text-warning"> {{ article.publishedBy.lastName }} </span> </span> <br>
                                        {% set diff = date('today').diff(article.createdAt)|date %}
                                        <span>Published: <span class="text-warning">{{ diff }}</span> ago</span>
                                    </div>

                                    <hr>

                                    <p class="text-info mb-0">Actions</p>
                                    <hr class="w-50 mt-0 mx-auto">

                                    {% set isFav = 0 %}
                                    {% for fav in favArticles %}
                                        {% if fav.article.id == article.id %}
                                            {% if fav.user.id == app.user.id %}
                                                {% set isFav = isFav + 1 %}
                                            {% else %}
                                                {% set isFav = isFav + 0 %}
                                            {% endif %}
                                        {% else %}
                                            {% set isFav = isFav + 0 %}
                                        {% endif %}
                                    {% endfor %}

                                    <div class="row">

                                        {#   Favorite   #}
                                        <div class="col">
                                            <div class="row">
                                                {% if isFav == 0 %}
                                                    <a href="{{ path('app_add_fav', {id: article.id}) }}">
                                                        <i class="fa-solid fa-heart fav-off" style="font-size: 33px; color: black "></i>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ path('app_add_fav', {id: article.id}) }}">
                                                        <i class="fa-solid fa-heart fav-on" style="font-size: 33px; color: red"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">
                                                    <span class="text-danger pt-1 icon-text" style="font-size: 12px;"> Fav </span>
                                                </div>
                                            </div>
                                        </div>


                                        {#   Buy   #}
                                        <div class="col">
                                            {% if article.isPaid == 1 %}
                                                {% set counter = 0 %}

                                                {% for paidArticle in userPaidArticles %}
                                                    {% if article.id in paidArticle %}
                                                        {%  set counter = counter + 1 %}
                                                    {% endif %}
                                                {% endfor %}


                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            {% if counter == 1 %}
                                                                <i class="fa-solid fa-dollar-sign text-muted" style="font-size: 35px; transition: none!important; transform: none!important;"></i>
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-center">
                                                                        <span class="text-success pt-1 icon-text" style="font-size: 12px;"> Purchased </span>
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <a href="{{ path('app_article_buy', {id: article.id}) }}">
                                                                    <i class="fa-solid fa-dollar-sign text-success" style="font-size: 35px"></i>
                                                                </a>
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-center">
                                                                        <span class="text-success pt-1 icon-text" style="font-size: 12px;"> Buy </span>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                            {% else %}
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <i class="fa-solid fa-dollar-sign text-success" style="font-size: 35px; transition: none!important; transform: none!important;"></i>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col d-flex justify-content-center">
                                                                <span class="text-success pt-1 icon-text" style="font-size: 12px;"> Free </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                        {#   Report   #}
                                        <div class="col">
                                            <div class="row">
                                                <i class="fa-solid fa-triangle-exclamation text-warning" style="font-size: 35px"></i>
                                            </div>
                                            <div class="row">
                                                <span class="text-warning pt-1 icon-text" style="font-size: 12px;"> Report </span>
                                            </div>
                                        </div>
                                    </div>

{#                                    <div class="row" style="border: 1px solid red">#}
{#                                        <div class="col-2"></div>#}
{#                                        <div class="col-2">#}
{#                                            <div class="favIcon">#}
{#                                                {% if isFav == 0 %}#}
{#                                                    <a href="{{ path('app_add_fav', {id: article.id}) }}">#}
{#                                                        <i class="fa-solid fa-heart fav-off" style="font-size: 1.8rem; color: black "></i>#}
{#                                                    </a>#}
{#                                                {% else %}#}
{#                                                    <a href="{{ path('app_add_fav', {id: article.id}) }}">#}
{#                                                        <i class="fa-solid fa-heart fav-on" style="font-size: 1.8rem; color: red"></i>#}
{#                                                    </a>#}
{#                                                {% endif %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-1"></div>#}
{#                                            {% if article.isPaid == 0 %}#}

{#                                                {% set counter = 0 %}#}

{#                                                {% for paidArticle in userPaidArticles %}#}
{#                                                    {% if article.id in paidArticle %}#}
{#                                                        {%  set counter = counter + 1 %}#}
{#                                                    {% endif %}#}
{#                                                {% endfor %}#}


{#                                                {% if counter == 0 %}#}
{#                                                    <div class="col-2">#}
{#                                                        <div class="row">#}
{#                                                            <div class="buy">#}
{#                                                                <i class="fa-solid fa-dollar-sign" style="font-size: 1.8rem"></i>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="row">#}
{#                                                            <div class="col d-flex justify-content-center">#}
{#                                                                <span class="text-muted" style="font-size: 0.8rem;"> Buy </span>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    {% else %}#}
{#                                                    nu#}
{#                                                {% endif %}#}


{#                                            {% else %}#}
{#                                                    <div class="col-2">#}
{#                                                        <div class="row">#}
{#                                                            <div class="buy">#}
{#                                                                <i class="fa-solid fa-dollar-sign text-muted" style="font-size: 1.8rem"></i>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="row">#}
{#                                                            <div class="col d-flex justify-content-center">#}
{#                                                                <span class="text-muted" style="font-size: 0.8rem;"> Buy </span>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                            {% endif %}#}
{#                                            <div class="col-1"></div>#}
{#                                                    <div class="col-2">#}
{#                                                        <div class="row">#}
{#                                                            <div class="report">#}
{#                                                                <i class="fa-solid fa-triangle-exclamation text-warning" style="font-size: 1.8rem"></i>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="row">#}
{#                                                            <div class="col d-flex justify-content-center">#}
{#                                                                <span class="text-muted" style="font-size: 0.8rem;"> Report </span>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                    </div>#}
                                </div>

                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-8">
                <div class="card mx-auto my-3" style="width: 50rem;">
                    {% if article.image %}
                        <img src="{{ asset('uploads/photos/') }}{{ article.image }}" alt="No image" class="card-img-top image">
                    {% else %}
                        <img src="{{ asset('uploads/photos/no-image.png') }}" alt="No image" class="card-img-top image" style="filter: invert(70%)">
                    {% endif %}
                    <div class="card-body mx-auto pt-0 text-center">
                        <div class="row pt-2 pb-2">
                            <div class="col-3">

                                {% if article.category %}
                                    <div class="col-3">
                                        <div class="category" style="background-color: {{ article.category.color }} ">
                                            {{ article.category.name }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-3">
                                        <div class="category cat-none">
                                            None
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-3"> </div>

                            <div class="col-6">
                                <div class="publisher text-muted">
                                    <p class="mx-0 my-0">
                                        Publisher: {{ article.publishedBy.lastName }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title my-2">
                            {{ article.title }}
                        </h5>

                        <span>
                            {% if article.isPaid == 1 %}

                                {% set counter = 0 %}

                                {% for paidArticle in userPaidArticles %}
                                    {% if article.id in paidArticle %}
                                        {%  set counter = counter + 1 %}
                                    {% endif %}
                                {% endfor %}

                                {% if counter == 0 %}
                                    <div class="locked">
                                        <a href="{{ path('app_article_buy', {id: article.id}) }}" class="btn read-more text-light mt-5 fs-5">
                                            <i class="fa-solid fa-lock-open" style="font-size: 20px"></i>
                                            - Unlock this R-tickle
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}

                           <p class="card-text text-center">
                            {{ article.text }}
                           </p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col mt-3">
                        {% if app.user %}
                            {% if "ROLE_ADMIN" in app.user.roles %}
                                <div class="info-container p-2 text-light text-center position-fixed">
                                    <div class="info">
                                        <p class="m-0 p-0">Info (admin)</p> <br>

                                        Id: {{ article.id }} <br>

                                        <span>Created: {{ article.createdAt|date('Y-m-d') }} </span> <br>
                                        <span>By: {{ article.publishedBy }}</span> <br>
                                        <span> Likes: {{ nrFav[0][1] }}</span> <br>
                                        <span>
                                            <img src="{{ asset('uploads/profilePics/') }}{{ app.user.profilePicture }}" alt="No image" class="w-25 profileImage">
                                        </span>
                                        <hr>
                                        <span>Status:
                                            {% if article.visible == 0 %}
                                             <span class="text-danger h5">Hidden</span>
                                            {% else %}
                                            <span class="text-success h5">Visible</span>
                                            {% endif %}
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="actions">
                                        <p class="m-0 p-0">Actions:</p> <br>

                                            {% if article.visible == 1 %}
                                        <a href="{{ path('app_article_hide', {id: article.id}) }}" style="text-decoration: none">
                                            <button class="btn btn-info btn-sm mb-2">Hide</button>
                                        </a>
                                            {% elseif article.visible == 0 %}
                                        <a href="{{ path('app_article_hide', {id: article.id}) }}" style="text-decoration: none">
                                            <button class="btn btn-light btn-sm mb-2">Unhide</button>
                                        </a>
                                            {% endif %}
                                            <a href="{{ path('app_article_edit', {id: article.id}) }}" style="text-decoration: none">
                                            <button class="btn btn-warning btn-sm mb-2">Edit</button>
                                        </a>
                                        <a href="{{ path('app_article_delete', {id: article.id}) }}" style="text-decoration: none">
                                            <button class="btn btn-danger btn-sm mb-2">Delete</button>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .card{
            background-color: #eaeaea;
            border-radius: 15px 15px 5px 5px;
            box-shadow: #6b6b6b 0 2px 7px 0;
            min-height: 450px;
        }

        #body .row{
            --bs-gutter-x: 0;
        }

        .image{
            background-size: cover;
            border-radius: 15px 15px 2px 2px;
        }

        .category{
            border-radius: 13px;
            color: white;
        }

        .info-container{
            box-shadow: #414141 0 2px 8px 1px;
            background: rgb(17,18,20);
            background: linear-gradient(180deg, rgb(28, 29, 35) 0%, rgba(52,58,64,1) 100%);
            /*height: fit-content;*/
            border-radius: 15px 15px 15px 15px;
            width: 220px;
        }

        .cat-none{
            background-color: #b06767;
        }

        .profileImage{
            width: 40px !important;
            height: auto;
            padding: 5px 0 0 0;
        }


        .locked{
            margin-left: -16px;
            width: 100%;
            height: 100%;
            position: absolute;
            backdrop-filter: blur(3px);
        }

        .read-more{
            background: rgb(17,18,20);
            background: linear-gradient(180deg, rgb(28, 29, 35) 0%, rgba(52,58,64,1) 100%);
        }

        .info-container i {
            text-shadow: black 0 0 4px;
        }

        .info-container i:hover{
            transform: scale(1.12);
            transition: 0.5s ;
        }

        .icon-text{
            text-shadow: black 0 1px 2px;
        }
    </style>
{% endblock %}