{% extends 'base.html.twig' %}
{% block title %} Article page {% endblock %}


{% block body %}
    <div class="container mb-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card mx-auto my-3" style="width: 50rem;">
                    {% if article.image %}
                        <img src="{{ asset('uploads/photos/') }}{{ article.image }}" alt="No image" class="card-img-top image">
                    {% else %}
                        <img src="{{ asset('uploads/photos/no-image.png') }}" alt="No image" class="card-img-top image" style="filter: invert(70%)">
                    {% endif %}
                    <div class="card-body mx-auto pt-0 text-center">
                        <div class="row pt-2 pb-2">
                            <div class="col-3">

{#                                {% if "Lifestyle" in article.category.name %}#}
{#                                    <div class="category cat-lifestyle">#}
{#                                        {{ article.category.name }}#}
{#                                    </div>#}

{#                                {% elseif "Tech" in article.category.name %}#}
{#                                    <div class="category cat-tech">#}
{#                                        {{ article.category.name }}#}
{#                                    </div>#}

{#                                {% elseif "Finance" in article.category.name %}#}
{#                                    <div class="category cat-finance">#}
{#                                        {{ article.category.name }}#}
{#                                    </div>#}

{#                                {% elseif "News" in article.category.name %}#}
{#                                    <div class="category cat-news">#}
{#                                        {{ article.category.name }}#}
{#                                    </div>#}

{#                                {% elseif "Music" in article.category.name %}#}
{#                                    <div class="category cat-music">#}
{#                                        {{ article.category.name }}#}
{#                                    </div>#}

{#                                {% else  %}#}
{#                                    <div class="category cat-other">#}
{#                                        {{ article.category.name }}#}
{#                                    </div>#}

{#                                {% endif %}#}

                                {% if article.category %}
                                    <div class="col-3">
                                        <div class="category" style="background-color: {{ article.category.color }} ">
                                            {{ article.category.name }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-3">
                                        <div class="category cat-none">
                                            None
                                        </div>
                                    </div>
                                {% endif %}

                            </div>

                            <div class="col-3">

                            </div>

                            <div class="col-6">
                                <div class="publisher text-muted">
                                    <p class="mx-0 my-0">
                                        Publisher: {{ article.publishedBy.lastName }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title my-2">
                            {{ article.title }}
                        </h5>

                        <span>
                            {% if article.isPaid == 1 %}

                                {% set counter = 0 %}

                                {% for paidArticle in userPaidArticles %}
                                    {% if article.id in paidArticle %}
                                        {%  set counter = counter + 1 %}
                                    {% endif %}
                                {% endfor %}

                                {% if counter == 0 %}
                                    <div class="locked">
                                        <a href="{{ path('app_article_buy', {id: article.id}) }}" class="btn read-more text-light mt-5 fs-5">
                                            <i class="fa-solid fa-lock-open" style="font-size: 20px"></i>
                                            - Unlock this R-tickle
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}

                           <p class="card-text text-center">
                            {{ article.text }}
                           </p>
                        </span>

                    </div>

                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col mt-3">


                        {% if app.user %}
                            {% if "ROLE_ADMIN" in app.user.roles %}

                            <div class="menu p-2 text-light text-center position-fixed">
                                <div class="info">
                                    <p class="m-0 p-0">Info:</p> <br>

                                    Id: {{ article.id }} <br>

                                    <span>Created: {{ article.createdAt|date('Y-m-d') }} </span> <br>
                                    <span>By: {{ article.publishedBy }}</span> <br>
                                    <span> Likes: {{ nrFav[0][1] }}</span> <br>
                                    <span>
                                        <img src="{{ asset('uploads/profilePics/') }}{{ app.user.profilePicture }}" alt="No image" class="w-25 profileImage">
                                    </span>
                                    <hr>
                                    <span>Status:
                                        {% if article.visible == 0 %}
                                         <span class="text-danger h5">Hidden</span>
                                        {% else %}
                                        <span class="text-success h5">Visible</span>
                                        {% endif %}
                                    </span>

                                </div>


                                    <hr>

                                    <div class="actions">
                                    <p class="m-0 p-0">Actions:</p> <br>

                                        {% if article.visible == 1 %}
                                    <a href="{{ path('app_article_hide', {id: article.id}) }}" style="text-decoration: none">
                                        <button class="btn btn-info btn-sm mb-2">Hide</button>
                                    </a>
                                        {% elseif article.visible == 0 %}
                                    <a href="{{ path('app_article_hide', {id: article.id}) }}" style="text-decoration: none">
                                        <button class="btn btn-light btn-sm mb-2">Unhide</button>
                                    </a>
                                        {% endif %}

                                        <a href="{{ path('app_article_edit', {id: article.id}) }}" style="text-decoration: none">
                                        <button class="btn btn-warning btn-sm mb-2">Edit</button>
                                    </a>
                                    <a href="{{ path('app_article_delete', {id: article.id}) }}" style="text-decoration: none">
                                        <button class="btn btn-danger btn-sm mb-2">Delete</button>
                                    </a>
                                </div>
                                {% endif %}
                        {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <style>

        .card{
            background-color: #eaeaea;
            border-radius: 15px 15px 5px 5px;
            box-shadow: #6b6b6b 0 2px 7px 0;
            min-height: 450px;
        }

        #body .row{
            --bs-gutter-x: 0;
        }

        .image{
            background-size: cover;
            border-radius: 15px 15px 2px 2px;
        }

        .category{
            border-radius: 13px;
            color: white;
        }

        .menu{
            box-shadow: #414141 0 2px 8px 1px;
            background: rgb(17,18,20);
            background: linear-gradient(180deg, rgb(28, 29, 35) 0%, rgba(52,58,64,1) 100%);
            /*height: fit-content;*/
            border-radius: 15px 15px 15px 15px;
            width: 220px;

        }

        .cat-none{
            background-color: #b06767;
        }

        .profileImage{
            width: 40px !important;
            height: auto;
            padding: 5px 0 0 0;
        }


        .locked{
            margin-left: -16px;
            width: 100%;
            height: 100%;
            position: absolute;
            backdrop-filter: blur(3px);
        }

        .read-more{
            background: rgb(17,18,20);
            background: linear-gradient(180deg, rgb(28, 29, 35) 0%, rgba(52,58,64,1) 100%);
        }



    </style>

{% endblock %}