{% extends './base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <span>You have</span>
                <span class="text-danger"> {{ app.user.userWallet.credits }}</span>
                <span>credits.</span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <a href="{{ path('app_user_creditsAdd', {amount: 20}) }}" class="btn btn-info btn-sm">+20 credits</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <a href="{{ path('app_user_creditsAdd', {amount: 50}) }}" class="btn btn-info btn-sm">+50 credits</a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <a href="{{ path('app_user_creditsAdd', {amount: 100}) }}" class="btn btn-info btn-sm">+100 credits</a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="{{ path('app_user_creditsAdd', {amount: -100}) }}" class="btn btn-danger btn-sm">-100 credits</a>
            </div>
        </div>
    </div>
{% endblock %}